{% extends "_layouts/base.html" %}
{% block page_title %}Push-Pull - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<div class="row">
      <div class="col-md-8">
           <h3>All Questions</h3>
           <hr>
          <div class="question-list">
              <table class="table table-responsive">
                  <tr>
                      <td>0 <br> Votes</td>
                      <td><a class="question" href=""> How can I open a Search field to choose an entry and then return it to my search field in Java</a></td>
                  </tr>
                  <tr>
                      <td>0 <br> answers</td>
                      <td>I have search function in my Java program that works of key released at the moment but I am afraid that once there are to many employees the end user will strugle to remember all the employee numbers ... </td>
                  </tr>
              </table>
              <div class="row">
                  <div class="col-md-4">
                      asked 35 secs ago
                  </div>
                  <div class="col-md-6">Topics: <label class="label label-default">PHP</label> <label class="label label-default">PYTHON</label> <label class="label label-default">NODE</label></div>
                  <div class="col-md-2"> 5 Views</div>    
              </div>
              <hr>
          </div>
          <div class="question-list">
              <table class="table table-responsive">
                  <tr>
                      <td>0 <br> Votes</td>
                      <td><a class="question" href=""> How can I open a Search field to choose an entry and then return it to my search field in Java</a></td>
                  </tr>
                  <tr>
                      <td>0 <br> answers</td>
                      <td>I have search function in my Java program that works of key released at the moment but I am afraid that once there are to many employees the end user will strugle to remember all the employee numbers ... </td>
                  </tr>
              </table>
              <div class="row">
                  <div class="col-md-4">
                      asked 35 secs ago
                  </div>
                  <div class="col-md-6">Topics: <label class="label label-default">PHP</label> <label class="label label-default">PYTHON</label> <label class="label label-default">NODE</label></div>
                  <div class="col-md-2"> 5 Views</div>    
              </div>
              <hr>
          </div>
          <div class="question-list">
              <table class="table table-responsive">
                  <tr>
                      <td>0 <br> Votes</td>
                      <td><a class="question" href=""> How can I open a Search field to choose an entry and then return it to my search field in Java</a></td>
                  </tr>
                  <tr>
                      <td>0 <br> answers</td>
                      <td>I have search function in my Java program that works of key released at the moment but I am afraid that once there are to many employees the end user will strugle to remember all the employee numbers ... </td>
                  </tr>
              </table>
              <div class="row">
                  <div class="col-md-4">
                      asked 35 secs ago
                  </div>
                  <div class="col-md-6">Topics: <label class="label label-default">PHP</label> <label class="label label-default">PYTHON</label> <label class="label label-default">NODE</label></div>
                  <div class="col-md-2"> 5 Views</div>    
              </div>
              <hr>
          </div>
          <div class="question-list">
              <table class="table table-responsive">
                  <tr>
                      <td>0 <br> Votes</td>
                      <td><a class="question" href=""> How can I open a Search field to choose an entry and then return it to my search field in Java</a></td>
                  </tr>
                  <tr>
                      <td>0 <br> answers</td>
                      <td>I have search function in my Java program that works of key released at the moment but I am afraid that once there are to many employees the end user will strugle to remember all the employee numbers ... </td>
                  </tr>
              </table>
              <div class="row">
                  <div class="col-md-4">
                      asked 35 secs ago
                  </div>
                  <div class="col-md-6">Topics: <label class="label label-default">PHP</label> <label class="label label-default">PYTHON</label> <label class="label label-default">NODE</label></div>
                  <div class="col-md-2"> 5 Views</div>    
              </div>
              <hr>
          </div>

      </div>
      <div class="col-md-4">
          <h4>Ask Question</h4>
            <div class="panel panel-default">
        <div class="panel-heading">Jobs Near you</div>
        <div class="panel-body">
          <div class="row">
              <div class="col-md-12 job-list">
                  <h5><a href="">Application Developer-Banglore/Chennai</a></h5>
                  <p>Sahai Software Solutions Pvt Ltd</p>
                  <address>chennai,India</address>
                  <label class="label label-default">JAVA</label> <label class="label label-default">rubys</label>
                  <hr>
              </div>
              <div class="col-md-12 job-list">
                  <h5><a href="">Application Developer-Banglore/Chennai</a></h5>
                  <p>Sahai Software Solutions Pvt Ltd</p>
                  <address>chennai,India</address>
                  <label class="label label-default">JAVA</label> <label class="label label-default">rubys</label>
                  <hr>
              </div>
              <div class="col-md-12 job-list">
                  <h5><a href="">Application Developer-Banglore/Chennai</a></h5>
                  <p>Sahai Software Solutions Pvt Ltd</p>
                  <address>chennai,India</address>
                  <label class="label label-default">JAVA</label> <label class="label label-default">rubys</label>
                  <hr>
              </div>
              <div class="col-md-12 job-list">
                  <h5><a href="">Application Developer-Banglore/Chennai</a></h5>
                  <p>Sahai Software Solutions Pvt Ltd</p>
                  <address>chennai,India</address>
                  <label class="label label-default">JAVA</label> <label class="label label-default">rubys</label>
                  <hr>
              </div>
          </div>
          
          </div>
          
        </div>
      </div>
  </div>
{% endblock %}
