{% extends "account/base.html" %}
{% load i18n %}
{% load addClass %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4 auth-border">
    <div class="form-bottom">
            <div class="social-login" align="center">
               <h3> {% trans "Change Password" %} </h3>
            </div>
            <form role="form" action="" method="post" class="login-form" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                	{% for field in form %}
					           <div class="form-group">
		                    <label>{{ field.label }}</label>
		                   {{ field | addcss:'form-control' }}
		                      {% if field.errors %}
		                          <div class="validation">{{ field.errors|striptags }}</div>
		                      {% endif %}
	                  </div> 
					     {% endfor %}
                <button type="submit" class="btn btn-primary pull-right">Change Password</button>
                </form>
        </div>
  </div>
</div>
{% endblock %}
