{% extends "account/base.html" %}
{% load addClass %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
{% include "_layouts/_messages.html" %}
<div class="row">
  <div class="col-md-4 col-md-offset-4 auth-border">
    <div class="form-bottom">
            <div class="social-login" align="center">
                 <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            </div>
            <form role="form" action="" method="post" class="login-form" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                   {{ form.email | addcss:"form-control" }}
                      {% if form.email.errors %}
                          <div class="validation">{{ form.email.errors|striptags }}</div>
                      {% endif %}
                  </div>
                <button type="submit" class="btn btn-primary pull-right">Reset My Password</button>
                </form>
        </div>
  </div>
</div>
{% endblock %}
